<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="index.html :: cabecera(titulo = 'Gestión de Búsquedas')">
</head>
<body class="container">
<h1>Gestión de Búsquedas</h1>
<a th:href="@{}">Empleados con Mayor Salario a 15000</a><br />
    <!-- COMPLETAR -->
    <table class="table table-sm">
        <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Fecha de inicio</th>
            <th>Fecha fin</th>
            <th>Puesto</th>
        </tr>
        <tr th:each="empleadoPorSalario : ${listaEmpleadosPorSalario}">
            <td th:text="${empleadoPorSalario.getNombre()}"></td>
            <td th:text="${empleadoPorSalario.getApellido()}"></td>
            <td th:text="${empleadoPorSalario.getFechainicio()}"></td>
            <td th:text="${empleadoPorSalario.getFechafin()}"></td>
            <td th:text="${empleadoPorSalario.getPuesto()}"></td>
        </tr>
    </table>
<a th:href="@{}">Reporte de departamento por país y ciudad</a><br>
    <!-- COMPLETAR -->
    <table class="table table-sm">
        <tr>
            <th>País</th>
            <th>Ciudad</th>
            <th>Cantidad</th>
        </tr>
        <tr th:each="reporte : ${listaDepartamentoPaisCiudad}">
            <td th:text="${reporte.getPais()}"></td>
            <td th:text="${reporte.getCiudad()}"></td>
            <td th:text="${reporte.getCantidad()}"></td>
        </tr>
    </table>
<a th:href="@{}">Reporte de gerentes con experiencia</a>                <!-- COMPLETAR -->
    <table class="table table-sm">
        <tr>
            <th>Departamento</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Sueldo</th>
        </tr>
        <tr th:each="gerente : ${listaGerentesExperiencia}">
            <td th:text="${gerente.getDepartamento()}"></td>
            <td th:text="${gerente.getNombre()}"></td>
            <td th:text="${gerente.getApellido()}"></td>
            <td th:text="${gerente.getSueldo()}"></td>
        </tr>
    </table>
</body>
</html>
