<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" ></script>
</head>
<body class="container">
<h1>Gestión de Búsquedas</h1>
<a th:href="@{}">Empleados con Mayor Salario a 15000</a><br />
    <!-- COMPLETAR -->
    <table class="table table-sm">
        <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Fecha de inicio</th>
            <th>Fecha fin</th>
            <th>Puesto</th>
        </tr>
        <tr th:each="empleadoPorSalario : ${listaEmpleadosPorSalario}">
            <td th:text="${empleadoPorSalario.getNombre()}"></td>
            <td th:text="${empleadoPorSalario.getApellido()}"></td>
            <td th:text="${empleadoPorSalario.getFechainicio()}"></td>
            <td th:text="${empleadoPorSalario.getFechafin()}"></td>
            <td th:text="${empleadoPorSalario.getPuesto()}"></td>
        </tr>
    </table>
<a th:href="@{}">Reporte de departamento por país y ciudad</a><br>
    <!-- COMPLETAR -->
    <table class="table table-sm">
        <tr>
            <th>País</th>
            <th>Ciudad</th>
            <th>Cantidad</th>
        </tr>
        <tr th:each="reporte : ${listaDepartamentoPaisCiudad}">
            <td th:text="${reporte.getPais()}"></td>
            <td th:text="${reporte.getCiudad()}"></td>
            <td th:text="${reporte.getCantidad()}"></td>
        </tr>
    </table>
<a th:href="@{}">Reporte de gerentes con experiencia</a>                <!-- COMPLETAR -->
</body>
</html>
