<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Nuevo Empleado</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" ></script>
</head>
<body class="container">
    <h2>Nuevo Empleado</h2><hr />
        <form method="post" th:action="@{'/employee/save'}">                <!-- COMPLETADO -->
            <div class="row">
                <div class="form-group col-6">
                    <div class="form-group">
                        <label for="firstName">Nombre</label>
                        <input  type="text" class="form-control" name="firstName" id="firstName">
                    </div>
                    <!-- COMPLETADO -->
                </div>
                <div class="form-group col-6">
                    <div class="form-group">
                        <label for="lastName">Apellido</label>
                        <input  type="text" class="form-control" name="lastName" id="lastName">
                    </div>
                    <!-- COMPLETADO -->
                </div>
            </div>

            <div class="row">
                <div class="form-group col-6">
                    <div class="form-group">
                        <label for="email">Correo Electronico</label>
                        <input  type="text" class="form-control" name="email" id="email">
                    </div>
                    <!-- COMPLETADO -->
                </div>
                <div class="form-group col-6">
                    <div class="form-group">
                        <label for="email">Contraseña</label>
                        <input  type="text" class="form-control" name="password" id="pasword">
                    </div>
                    <!-- COMPLETADO -->
                </div>
            </div>

            <div class="row">
                <div class="form-group col-6">
                    <label for="jobName" class="form-label">Puesto</label>
                    <select class="form-control" name="jobName" id="jobName">
                        <option th:each="trabajos : ${listaTrabajos}" th:value="${trabajos.jobId}" th:text="${trabajos.jobTitle}"></option>
                    </select>
                    <!-- COMPLETADO -->
                </div>
                <div class="form-group col-6">
                    <div class="form-group">
                        <label for="salary">Sueldo</label>
                        <input  type="number" class="form-control" name="salary" id="salary">
                    </div>
                    <!-- COMPLETADO -->
                </div>
            </div>

            <div class="row">
                <div class="form-group col-6">
                    <label for="manager" class="form-label">Jefe</label>
                    <select class="form-control" name="manager" id="manager">
                        <option th:each="jefe : ${listaJefes}" th:value="${jefe.employeeId}" th:text="${jefe.firstName + jefe.lastName}"></option>
                    </select>
                    <!-- COMPLETADO -->
                </div>
                <div class="form-group col-6">
                    <label for="departments" class="form-label">Departamento</label>
                    <select class="form-control" name="deparments" id="departments">
                        <option th:each="departamento : ${listaDepartamentos}" th:value="${departamento.departmentId}" th:text="${departamento.departmentName}"></option>
                    </select>
                    <!-- COMPLETADO -->
                </div>
            </div>

            <a th:href="@{'/employee'}" class="btn btn-danger">Cancelar</a>                 <!-- COMPLETAR -->
            <button type="submit" class="btn btn-primary">Registrar</button>                <!-- COMPLETAR -->
            <div class="row">
                <div class="form-group"></div>
            </div>
        </form>
    </body>
</html>